header .master-play {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
header .master-play .wave {
  width: 32px;
  height: 30px;
  /* border: 1px solid #fff; */
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
}
header .master-play .wave .wave1 {
  width: 3px;
  height: 10px;
  background-color: #36e2ec;
  margin-right: 3px;
  /* animation: unset; */
}
header .master-play .wave .wave1:nth-child(2) {
  height: 13px;
  animation-delay: 0.4s;
}
header .master-play .wave .wave1:nth-child(3) {
  height: 8px;
  animation-delay: 0.8s;
}
/* javascript class */
header .master-play .active1 .wave1 {
  animation: wave 0.5s linear infinite;
}
header .master-play .active1 .wave1:nth-child(2) {
  animation-delay: 0.4s;
}
header .master-play .active1 .wave1:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes wave {
  0% {
    height: 10px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 10px;
  }
}
header .master-play img {
  width: 35px;
  height: 35px;
}
header .master-play h5 {
  width: 130px;
  margin-left: 5px;
  color: #fff;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  /* border: 1px solid #fff; */
}
header .master-play h5 .subtitle {
  font-size: 11px;
  color: #4c5262;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header .master-play .icons {
  font-size: 20px;
  color: #fff;
  margin: 0px 20px 0px 40px;
  outline: none;
  display: flex;
  align-items: center;
}
header .master-play .icons .bi {
  cursor: pointer;
  outline: none;
}
header .master-play .icons .suffle {
  font-size: 17px;
  margin-right: 10px;
  width: 17.5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
header .master-play .icons #download-music {
  font-size: 20px;
  margin-left: 10px;
}
header .master-play .icons .bi:nth-child(3) {
  border: 1px solid rgb(105, 105, 105, 0.1);
  border-radius: 50%;
  padding: 1px 5px 0px 7px;
  margin: 0px 5px;
}
header .master-play span {
  color: #fff;
  width: 32px;
  /* border: 1px solid #fff; */
  font-size: 11px;
  font-weight: 400;
}
header .master-play #currentstart {
  margin-left: 20px;
}
header .master-play .bar {
  width: 43%;
  position: relative;
  height: 2px;
  background-color: rgb(105, 105, 170, 0.1);
  margin: 0px 15px 0px 10px;
}

header .master-play .bar .bar2 {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #36e2ec;
  top: 0;
  transition: 1s linear;
}
header .master-play .bar .dot {
  position: absolute;
  width: 5px;
  height: 4px;
  background-color: #36e2ec;
  left: 0;
  top: -1px;
  transition: 1s linear;
}
header .master-play .bar .dot::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #36e2ec;
  border-radius: 50%;
  left: -5px;
  top: -5px;
  box-shadow: inset 0px 0px 3px #36e2ec;
}
header .master-play .bar input {
  position: absolute;
  width: 100%;
  top: -7px;
  left: 0;
  cursor: pointer;
  z-index: 99999999999999;
  opacity: 0;
}
header .master-play .vol {
  position: relative;
  width: 100px;
  height: 2px;
  background-color: rgb(105, 105, 170, 0.1);
  margin-left: 50px;
}
header .master-play .vol .bi {
  position: absolute;
  color: #fff;
  font-size: 25px;
  top: -17px;
  left: -30px;
}
header .master-play .vol input {
  position: absolute;
  width: 100%;
  top: -8px;
  left: 0;
  cursor: pointer;
  z-index: 999999999;
  opacity: 0;
}
header .master-play .vol .vol-bar {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #36e2ec;
  top: 0;
  transition: 1s linear;
}
header .master-play .vol .dot {
  position: absolute;
  width: 5px;
  height: 4px;
  background-color: #36e2ec;
  left: 0;
  top: -1px;
  transition: 1s linear;
}
header .master-play .vol .dot::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #36e2ec;
  border-radius: 50%;
  left: -5px;
  top: -5px;
  box-shadow: inset 0px 0px 3px #36e2ec;
}
