header .song-side {
  z-index: 2;
}
header .song-side::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  background-image: url("../Img/bg.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  border: none;
  top: 20px;
  z-index: -1;
}
header .song-side nav {
  display: flex;
  width: 90%;
  height: 10%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #fff; */
}
header .song-side nav ul {
  display: flex;
  justify-content: space-between;
}
header .song-side nav ul li {
  list-style-type: none;
  color: #4c5262;
  position: relative;
  font-size: 13px;
  margin-right: 25px;
  cursor: pointer;
  transition: 0.3s linear;
  text-transform: uppercase;
}
header .song-side nav ul li:hover {
  color: #fff;
}
header .song-side nav ul li:nth-child(1) {
  color: #fff;
  /* text-transform: lowercase; */
}
header .song-side nav ul li span {
  width: 100%;
  height: 2.5px;
  background-color: #36e2ec;
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 20px;
}
header .song-side nav .search {
  position: relative;
  /* width: 30%; */
  padding: 1px 10px;
  border-radius: 20px;
  /* border: 1px solid #fff; */
  margin-left: 10px;
}

header .song-side nav .search::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(181, 181, 181, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  z-index: -1;
}
header .song-side nav .search .bi {
  font-size: 13px;
  padding: 3px 0px 0px 10px;
  color: #fff;
  cursor: pointer;
}
header .song-side nav .search input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0px 10px;
  color: white;
  font-size: 13px;
}
header .song-side nav .user {
  width: 30px;
  position: relative;
  height: 30px;
  /* border: 1px solid #fff; */
  border-radius: 50%;
}
header .song-side nav .user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 8px #121213;
}
header .song-side .content {
  width: 90%;
  height: 30%;
  /* border: 1px solid #fff; */
  margin: auto;
  padding-top: 20px;
}
header .song-side .content h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
header .song-side .content p {
  color: #4c5262;
  font-size: 13px;
  font-weight: 400;
  margin: 5px;
}
header .song-side .content .buttons {
  margin-top: 15px;
}
header .song-side .content .buttons button {
  width: 130px;
  height: 30px;
  border: 1px solid #36e2ec;
  outline: none;
  border-radius: 20px;
  background-color: #36e2ec;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}
header .song-side .content .buttons button:hover {
  color: #36e2ec;
  background: none;
}
header .song-side .content .buttons button:nth-child(2) {
  color: #36e2ec;
  background: none;
}
header .song-side .content .buttons button:nth-child(2):hover {
  color: #fff;
  background-color: #36e2ec;
}
header .song-side .popular-song {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  /* border: 1px solid #fff; */
}
header .song-side .popular-song .h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .song-side .popular-song .h4 h4 {
  color: #fff;
  font-size: 19px;
}
header .song-side .popular-song .h4 .bi {
  color: #a4a8b4;
  cursor: pointer;
  transition: 0.3s linear;
}
header .song-side .popular-song .h4 .bi:hover {
  color: #fff;
}
header .song-side .popular-song .pop-song {
  width: 100%;
  height: 150px;
  margin-top: 15px;
  display: flex;
  /* border: 1px solid #fff; */
  overflow: auto;
  scroll-behavior: smooth;
}
header .song-side .popular-song .pop-song::-webkit-scrollbar {
  display: none;
}
header .song-side .popular-song li {
  min-width: 100px;
  height: 140px;
  list-style: none;
  margin-right: 10px;
  transition: 0.3s linear;
}
header .song-side .popular-song li:hover {
  background: rgb(105, 105, 170, 0.1);
}
header .song-side .popular-song li .img-play {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .song-side .popular-song li .img-play img {
  width: 100%;
  height: 100%;
}
header .song-side .popular-song li .img-play .bi {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s linear;
  opacity: 0;
  color: #fff;
}
header .song-side .popular-song li:hover .img-play .bi {
  opacity: 1;
}
header .song-side .popular-song li h6 {
  padding: 5px 0px 0px 5px;
  line-height: 15px;
  font-size: 10px;
  width: 100px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
header .song-side .popular-song li h6 .subtitle {
  font-size: 9px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4c5262;
}
header .song-side .popular-artists {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  /* border: 1px solid #fff; */
}

header .song-side .popular-artists .h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .song-side .popular-artists .h4 h4 {
  color: #fff;
  font-size: 19px;
}
header .song-side .popular-artists .h4 .bi {
  color: #a4a8b4;
  cursor: pointer;
  transition: 0.3s linear;
}
header .song-side .popular-artists .h4 .bi:hover {
  color: #fff;
}
header .song-side .popular-artists .item {
  width: 100%;
  height: auto;
  margin-top: 15px;
  display: flex;
  /* border: 1px solid #fff; */
  overflow: auto;
  scroll-behavior: smooth;
  /* margin-bottom: 50px; */
}
header .song-side .popular-artists .item::-webkit-scrollbar {
  display: none;
}

header .song-side .popular-artists .item li {
  list-style-type: none;
  position: relative;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}

header .song-side .popular-artists .item li img {
  /* margin-bottom: 30px; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
header .song-side .popular-artists .item li:hover {
  background: rgb(105, 105, 170, 0.1);
}
